{{ $links := .Site.Params.links -}}

<section class="row td-box td-box--white td-box--height-auto linkbox">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <h2>{{ T "community_learn" }}</h2>
    <p>{{ T "community_using" . }}</p>
    {{ with index $links "user" -}}
      {{ template "community-links-list" . -}}
    {{ end }}
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <h2>{{ T "community_develop" }}</h2>
    <p>{{ T "community_contribute" . }}</p>
    {{ with index $links "developer" -}}
      {{ template "community-links-list" . -}}
    {{ end }}
    <p>
      {{ T "community_how_to" . }}
      <a href="{{ "docs/contribution-guidelines" | relURL }}">{{ T "community_guideline" }}</a>.
    </p>
  </div>
</section>

{{ define "community-links-list" -}}
<ul>
{{ range . -}}
  {{ if eq .name "Developer mailing list" }}
    <li title="{{ .name }}">
    <a target="_blank" href="mailto:?to={{ .url }}"><i class="{{ .icon }}"></i> {{ .name }}</a>:
    {{ .desc }}
  </li>
  {{ else }}
  <li title="{{ .name }}">
    <a target="_blank" rel="noopener" href="{{ .url }}"><i class="{{ .icon }}"></i> {{ .name }}</a>:
    {{ .desc }}
  </li>
{{ end }}
{{ end }}
</ul>
{{- end }}
<div class="newsletter-subscribe mt-5 container">
        <div class="container">
            <div class="intro">
                <h2 class="text-center newsletter">{{T "subs_join"}}</h2>
                <p class="text-center">
                {{T "subs_sent"}}</p>
            </div>
             <form action="https://ruyisdk.us13.list-manage.com/subscribe/post?u=a7bba3aa9de6214adf1c66d82&amp;id=a894094570&amp;f_id=00e7d1edf0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <div class="form-group"><label for="mce-EMAIL">{{T "subs_mail"}} <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email form-control" id="mce-EMAIL" required="" value=""></div><div class="mc-field-group"><label for="mce-FNAME">{{T "subs_name"}} <span class="asterisk">*</span></label><input type="text" name="FNAME" class="required text form-control" id="mce-FNAME" required="" value=""></div>
        <div id="mce-responses" class="clear foot">
            <div class="response" id="mce-error-response" style="display: none;"></div>
            <div class="response" id="mce-success-response" style="display: none;"></div>
        </div>
    <div aria-hidden="true" style="position: absolute; left: -5000px;">
        /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
        <input type="text" name="b_a7bba3aa9de6214adf1c66d82_a894094570" tabindex="-1" value="">
    </div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary" value={{T "subs_button"}}>
                <p style="margin: 0px auto;"></p>
            </div>
        </div>
    </div>
</form>
</div>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>